<div class="container-fluid">
  <div class="row">
    <form>
      <mat-form-field>
        <input matInput type="text" [formControl]="serienControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option (click)="addSerieToUserList(option)" *ngFor="let option of filteredOptions | async"
            [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>

    User: {{loggedUser.id}}
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-10">
      <app-serien-card class="serie-card" (click)="refreshSameViewer(serie)" *ngFor="let serie of UserSerien"
        [serieData]="serie">
      </app-serien-card>
    </div>
    <div class="col-2">
      <app-same-viewer-card *ngFor="let viewer of sameViewerArray" [viewerData]="viewer">
      </app-same-viewer-card>
    </div>
  </div>
</div>